include dash_recording_components/dash_recording_components.min.js
include dash_recording_components/dash_recording_components.dev.js
include dash_recording_components/metadata.json
include dash_recording_components/package.json
include README.md
